DurakApp/Connected Services/DurakServiceReference/DurakService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DurakWcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DurakWcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Card" nillable="true" type="tns:Card" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCard" nillable="true" type="tns:ArrayOfCard" />
  <xs:complexType name="Card">
    <xs:sequence>
      <xs:element minOccurs="0" name="Suit" type="tns:Card.SuitEnum" />
      <xs:element minOccurs="0" name="Value" type="tns:Card.ValueEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Card" nillable="true" type="tns:Card" />
  <xs:simpleType name="Card.SuitEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="heart" />
      <xs:enumeration value="diamond" />
      <xs:enumeration value="club" />
      <xs:enumeration value="spade" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Card.SuitEnum" nillable="true" type="tns:Card.SuitEnum" />
  <xs:simpleType name="Card.ValueEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="six" />
      <xs:enumeration value="seven" />
      <xs:enumeration value="eight" />
      <xs:enumeration value="nine" />
      <xs:enumeration value="ten" />
      <xs:enumeration value="jack" />
      <xs:enumeration value="queen" />
      <xs:enumeration value="king" />
      <xs:enumeration value="ace" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Card.ValueEnum" nillable="true" type="tns:Card.ValueEnum" />
  <xs:complexType name="ArrayOfArrayOfCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfCard" nillable="true" type="tns:ArrayOfCard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfCard" nillable="true" type="tns:ArrayOfArrayOfCard" />
  <xs:complexType name="MoveOpportunity">
    <xs:sequence>
      <xs:element minOccurs="0" name="CanMakeMove" type="tns:MoveOpportunity.CanMakeMoveEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MoveOpportunity" nillable="true" type="tns:MoveOpportunity" />
  <xs:simpleType name="MoveOpportunity.CanMakeMoveEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CanAttack" />
      <xs:enumeration value="CanThrow" />
      <xs:enumeration value="CanDefend" />
      <xs:enumeration value="CanNothing" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MoveOpportunity.CanMakeMoveEnum" nillable="true" type="tns:MoveOpportunity.CanMakeMoveEnum" />
</xs:schema>